@font-face {
    font-family: 'Futura';
    src: url(../font/FuturaLightC.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
}
@font-face {
    font-family: 'Futura';
    src: url(../font/FuturaBookC.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: 'Futura';
    src: url(../font/FuturaMediumC.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}
@font-face {
    font-family: 'Futura';
    src: url(../font/FuturaDemiC.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
}