@media (max-width: 1350px) {
    .main {
        .banner {
            .swiper-btn {
                .banner-prev {
                    left: -30px;
                }
                .banner-next {
                    right: -30px;
                }
            }
        }
    }
}

@media (max-width: 1250px) {
    .main {
        .banner {
            .swiper-btn {
                display: none;
            }
            &-item {
                padding-right: 20px;
            }
        }
    }
}

@media (max-width: 1199px) {
  .main {
    .category {
      .category-box {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 12px;
      }
    }

    .basket .basket-box .gift-body {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media (max-width: 991px) {
    .container {
        padding: 0 16px;
    }
    .swiper {
      padding: 0 16px;
  }
    .header {
        &-logo {
            .logo {
                width: 180px;
            }
        }
        &-search {
          margin: 0 12px;
        }
        .shopping-cart__btn {
          margin: 0 12px;
        }
        .personal-area-link {
          width: 110px;
          height: 32px;
        }
        &-catalog {
          margin-right: 20px;
        }
        &-nav {
          li {
            margin-right: 20px;
          }
        }
    }

    .main {
        .banner {
            &-item {
                padding-right: 20px;
            }
            &__title {
                font-size: 32px;
                line-height: 36px;
                width: 90%;
            }
            &__text {
                width: 90%;
            }
            &__img {
                max-width: 250px;
                max-height: 250px;
            }
        }

        .bestsellers,
        .types-tea,
        .you-watched,
        .recommend {
          padding-bottom: 0 !important;
          .swiper {
            padding-bottom: 24px;
          }
        }
        .forYou {
            margin: 24px 0 0;
            &-box {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-gap: 16px;
            }
            &-item {
              height: 165px;
              padding: 16px;
              .forYou__img {
                height: auto;
              }
              .forYou__title {
                font-size: 16px;
                line-height: 18px;
                width: 100%;
              }
            }
        }
        .forTea {
            padding: 24px 0 0;
        }
        .reviews {
            padding: 24px 0 0;
            .swiper-reviews {
                margin-top: 16px;
                padding-bottom: 24px;
            }
        }

        .tea-culture {
            padding: 24px 0 0;
        }
        .articles {
            padding: 24px 0 0;
            .swiper-articles {
              padding-bottom: 24px;
            }
        }

        .subscription {
            padding: 24px 0;
            &-form {
              padding: 16px;
              .form-info {
                width: 100%;
              }
              .form {
                width: 100%;
                margin-top: 16px;
                &__btn {
                  min-width: 115px;
                }
              }
            }
          }
        

          .hashtags {
            .container {
              padding-right: 0;
            }
            .hashtags-item {
              display: flex;
              overflow-x: scroll;
            }
            .hashtag {
              white-space: nowrap;
            }
          }

          .videos {
            .container {
              padding-right: 0;
            }
            .videos-box {
              margin: 16px 0;
              overflow-x: scroll;
              .video {
                min-width: 310px;
                height: 204px;
                margin-right: 16px;
              }
            }
          }

          .head-page {
            margin: 24px 0;
          }

          .card {
            .card-box {
              padding: 0;
              background: transparent;
              .card-slider {
                width: 100%;
                background: #fff;
                padding: 8px;
                padding-bottom: 24px;
                border-radius: 8px;
                .big-card {
                  height: 238px;
                  padding-bottom: 12px;
                }
              }
              .card-info {
                width: 100%;
                .like {
                  position: absolute;
                  top: 12px;
                  right: 8px;
                  z-index: 15;
                }
                .share {
                  .social {
                    left: -90px;
                  }
                }
              }
              .card-info-sup {
                padding: 12px;
                padding-top: 0;
              }
              .card-info-sub {
                margin-top: 8px;
                padding: 12px;
                border-radius: 8px;
              }
              .card-price {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .price {
                  font-size: 32px;
                  line-height: 37px;
                }
              }
              .card-btns {
                width: 100%;
                height: 32px;
                margin-top: 16px;
                button {
                  font-size: 14px;
                  line-height: 15px;
                }
              }
            }

            .card-item {
              display: none;
            }

            .card-tabs {
              padding: 0;
              background: transparent;
              .tab-btns {
                overflow-x: scroll;
                background: #fff;
                padding: 12px;
                border-radius: 8px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                .tab-btn {
                  &-text {
                    padding: 12px 24px;
                    font-size: 14px;
                    line-height: 14px;
                  }
                }
              }
      
              .tab-box {
                margin-top: 0;
                .description {
                  width: 100%
                }
                .tab_1, .tab_5, .tab_3, .tab_4 {
                  background: #fff;
                  padding: 12px;
                  border-radius: 8px;
                  border-top-left-radius: 0;
                  border-top-right-radius: 0;
                }
                .reviews-box {
                  margin-top: 24px;
                  background: #fff;
                  border-radius: 8px;
                  padding: 12px;
                  &-head {
                    font-weight: 500;
                  }
                }
                .reviews {
                  .reviews-body {
                    .review {
                      border-radius: 0;
                      .review-text {
                        width: 100%;
                        -webkit-line-clamp: 7;
                        font-size: 14px;
                        line-height: 16px;
                      }
                      .user {
                        font-size: 14px;
                        line-height: 16px;
                        &-img {
                          width: 20px;
                          height: 20px;
                        }
                      }
                    }
      
                    .review-company {
                      border-radius: 8px;
                      .company {
                        font-size: 14px;
                        line-height: 16px;
                      }
                    }
      
                    .write-review {
                      margin-top: 16px;
                      &__title {
                        font-size: 16px;
                        line-height: 18px;
                      }
      
                      .send-review {
                        &__title {
                          font-size: 18px;
                          line-height: 20px;
                        }
                      }
                      .write-review-box {
                        margin: 16px 0 0;
                        width: 100%;
                        textarea {
                          width: 100%;
                        }
      
                        .submit-btn {
                          min-width: 100%;
                          height: 46px;
                          margin-left: 0;
                          margin-top: 4px;
                        }
                      }
                      }
                    }
                  }
      
                  .red-all-reviews {
                    font-size: 14px;
                    line-height: 16px;
                  }

                  .preparations {
                    grid-template-columns: repeat(2, 1fr);
                  }
                }
              }
          }

             
    .you-orders {
      margin-top: 32px;
      .orders {
        padding: 12px;
        padding-right: 0;
        position: relative;
        padding-bottom: 60px;
        .orders-head {
          padding-right: 12;
          margin-bottom: 12px;
        }
        .orders-price {
          font-size: 16px;
          line-height: 18px;
        }
        .orders-repeat {
          position: absolute;
          bottom: 12px;
          left: 12px;
          width: 93%;
        }
        .order {
          .order-text {
            font-size: 11px;
            line-height: 12px;
          }
        }
      }
    }

   
    .basket {
      .basket-box {
        .basket-head {
          position: relative;
          padding: 14px 12px;
          padding-right: 50px;
          .remove-checks {
            position: absolute;
            right: 12px;
            top: 15px;
            svg {
              margin-right: 0;
            }
          }
        }
        .basket-info {
          margin-right: 0;
        }
        .order-registration {
          display: none;
        }
        .basket-order {
          margin-top: 16px;
        }
         .form-item {
          flex-wrap: wrap;
          .input-box {
            width: 100%;
          }
         }

         .amount {
          .amount-val {
            font-size: 16px;
            line-height: 18px;
          }
         }
         
        .basket-product {
          padding: 12px;
          flex-wrap: wrap;
          .checkbox {
            margin-right: 12px;
          }
          .product-left {
            width: 45%;
          }
          .product-right {
            width: 50%;
          }
          .product-info {
            img {
              margin-right: 12px;
            }
            p {
              font-size: 16px;
              line-height: 18px;
            }
          }

          .price {
            width: 120px;
            .price-text {
              font-size: 18px;
              line-height: 20px;
            }
          }
          .product-data {
            font-size: 14px;
            line-height: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
    .header {
        .header-bottom-box {
            position: static;
        }
        &-bottom {
            padding: 0;
        }
        &-search {
            margin-right: 16px;
        }
        &-catalog {
          margin-right: 20px;
          .header-catalog-mob {
            padding: 0 20px 10px 5px;
            .catalog-nav__close {
                background: transparent;
            }
          }
          &-nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 12px 0;
          }
          .catalog-nav {
            max-height: 95%;
            padding: 16px;
            padding-top: 0;
            border-radius: 8px;
            background: #fff;
          }
          .catalog {
            width: 100%;
          }
          .catalog-item {
            background: #F1F1F1;
            border-bottom: 1px solid #fff;
            &:first-child {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
            &:last-child {
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }
          }
        }
    }

    .main {
        overflow: hidden;
        .banner {
            &-item {
                padding-right: 10px;
                min-height: 350px;
            }
            &__title {
                font-size: 32px;
                line-height: 36px;
                width: 90%;
            }
            &__text {
                width: 90%;
            }
            &__img {
              max-width: 190px;
              max-height: 190px;
            }
            &__btn {
                height: 32px;
                font-size: 14px;
            }
        }

        .forTea {
            &-item {
              width: 48.5%;
            }
          }

          
          .hashtags {
            margin: 24px 0 16px;
            .hashtags-item {
              grid-gap: 0;
            }
            .hashtag {
              height: auto;
              img {
                display: none;
              }
              padding: 8px 10px;
              font-size: 14px;
              line-height: 15px;
              color: #468C25;
              border: 1px solid #DBE9D4;
              margin-right: 4px;
            }
          }

      .category {
        .filters {
          position: fixed;
          width: 100%;
          top: 0;
          left: 0;
          z-index: 101;
          padding: 16px;
          height: 100%;
          display: none;
          &-box {
            background: #F1F1F1;
            border-radius: 8px;
            max-height: 91%;
            overflow-y: scroll;
          }
          .sorting {
            max-width: 100%;
          }
        }
      }

      .basket .basket-box .gift-body {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .footer {
        margin-bottom: 55px;
    }

    

    .popUp-successfully {
      align-items: end;
      justify-content: end;
      .popUp-content {
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      .icon {
        width: 27px;
      }
      .successfully-title {
        font-size: 18px;
        line-height: 20px;
      }
    }

    .popUp-map {
      &-title {
        font-size: 18px;
        line-height: 20px;
      }
      .popUp-content {
        padding: 16px;
        border-radius: 8px;
        width: 98%;
        margin: 50px auto;
      }  
      .map-box {
        height: 458px;
      }
    }
}

@media (max-width: 576px) {
    .header {
        &-logo {
            .logo {
                width: 154px;
            }
        }
    }

    .main {
        .title-text {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 16px;
        }
        .banner {
            &-item {
                flex-direction: column;
            }
            &__title {
                width: 100%;
            }
            &-photo {
                margin-left: auto;
                margin-top: -15px;
            }
            &__text {
                width: 100%;
                margin-bottom: 0;
            }
            &__btn {
                margin-top: -15px;
            }
        }

        .types-tea {
            padding: 24px 0;
            .container {
                padding: 0 0 0 16px;
            }
            .swiper {
              padding: 0 16px;
            }
            &-item {
              &:hover {
                .tea-img {
                  box-shadow: none;
                }
              }
                .tea-name {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }

        .bestsellers,
        .you-watched,
        .recommend {
            padding: 24px 0;
            .swiper {
              margin-top: 16px;
              padding: 0 16px;
            }
          }
          
          .product-card {
            padding: 20px 8px 8px;
            &:hover {
              box-shadow: none;
            }
            .product-head {
              top: 8px;
            }
            .product-img {
              width: 100%;
              height: 130px;
              margin-bottom: 4px;
              .img {
                max-height: 120px;
              }
            }
            .hashtag {
              width: 51px;
              height: 22px;
              background: #F03434;
              font-size: 12px;
              line-height: 13px;
            }
            .product-name {
              font-size: 12px;
              line-height: 14px;
              overflow-wrap: break-word;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              display: -webkit-box;
            }
            .product-year {
              font-size: 12px;
              line-height: 14px;
            }
            .product-info {
              margin: 4px 0;
              align-items: start !important;
              flex-direction: column;
              span {
                &:first-child {
                  font-size: 16px;
                  line-height: 18px;
                  color: #F03434;
                  del {
                      color: #818698;
                      font-size: 14px;
                      line-height: 16px;
                  }
                }
              }
              .count {
                margin-top: 12px;
              }
            }
            .add-basket {
              height: 32px;
              font-size: 14px;
              line-height: 16px;
            }
          }
          .forTea {
            &-item {
              padding: 16px;
              margin-top: 16px;
              height: 165px;
              .forTea__img {
                  height: 65%;
              }
              &:nth-child(1),
              &:nth-child(4) {
                width: 100%;
                height: 100px;
                .forTea__img {
                    height: 100%;
                }
              }
              .forTea__title {
                font-size: 16px;
                line-height: 18px;
              }
            }
          }
          .tea-culture {
              &__text {
                margin-top: 16px;
              }
              &__btn {
                width: 100%;
                font-size: 14px;
                line-height: 15px;
              }
        }
        .reviews {
            .container {
                padding: 0;
                padding-left: 16px;
            }
            .swiper {
              padding: 0 16px;
            }
            .review:hover {
              box-shadow: none;
            }
        }
        .articles {
            .container {
                &:last-child {
                    padding: 0;
                    padding-left: 16px;
                }
            }
            .swiper-articles {
                margin-top: 16px;
                padding: 0;
            }
            &-card:hover {
              box-shadow: none;
            }
        }

        .subscription {
            &-form {
              .form__title {
                font-size: 18px;
                line-height: 20px;
              }
            }
          }
      
        .page-head {
          margin: 24px 0;
        }

        
    .product-title {
      .product-title-box {
        padding: 0;
        background: transparent;
        .info-text {
          display: none;
        }
        .title-text {
          margin-bottom: 0;
        }
      }
      &-list {
        margin-top: 12px;
        border-radius: 8px;
        padding: 16px;
        padding-top: 0;
        background: #fff;
        li {
          a {
            font-size: 14px;
            line-height: 15px;
            color: #468C25;
            border-radius: 0;
            padding: 0;
            background: transparent;
            border-bottom: 1px solid #468C25;
            &:hover {
              background: none;
              color: #357517;
              border-color: #357517;
            }
          }
        }
      }
    }

    
    .seo {
      margin-top: 48px;
      .seo-item {
        background: #fff;
        border-radius: 8px;
        margin-bottom: 8px;
        padding: 0 16px;
      }
      .seo-head {
        cursor: pointer;
        padding: 20px 0;
        p {
          font-size: 14px;
          line-height: 16px;
          font-weight: 500;
          text-transform: uppercase;
        }
        img {
          transition: .3s all;
        }
      }
      .seo-body {
        max-height: 0;
        overflow: hidden;
        transition: .3s all;
        p {
          font-size: 16px;
          line-height: 18px;
          color: #818698;
          margin-bottom: 8px;
          &:last-child {
            margin-bottom: 16px;
          }
        }
      }
      .showSeo {
        .seo-body {
          max-height: 5000px;
        }
        .seo-head {
          img {
            transform: rotate(180deg);
          }
        }
      }
    }

    .card {
      .card-tabs {
        .tab-box {
          .reviews {
            .reviews-head {
              flex-direction: column-reverse;
              .review-sorting {
                margin-right: 0;

                .sorting-head {
                  width: 100%;
                }
              }

              .leave-feedback {
                width: 100%;
                height: 32px;
                margin-bottom: 12px;
                font-size: 14px;
                line-height: 16px;
              }
            }
            .reviews-body {
              .review-company {
                margin-top: 16px;
              }
            }
          }
          .preparations {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 8px;
            &-item {
              display: flex;
              align-items: center;
              font-size: 14px;
              line-height: 16px;
              img {
                margin-right: 16px;
              }
            }
          }

          .video {
            height: 180px;
          }
        }
      }
    }

    .articles-popular {
      .swiper-popular {
        padding: 16px 0;
      }
      .view-all {
        margin-top: 16px;
        width: 95%;
        height: 32px;
        background: #fff;
        border: 1px solid #468C25;
        border-radius: 4px;
        font-size: 14px;
        line-height: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          display: none;
        }
      }
    }

    .basket {
      .basket-box {
        .basket-head {
          position: relative;
          padding: 14px 12px;
          padding-right: 50px;
          .remove-checks {
            position: absolute;
            right: 12px;
            top: 15px;
          }
        }
        .basket-info {
          margin-right: 0;
        }
        .order-registration {
          display: none;
        }
        .basket-order {
          margin-top: 16px;
        }
         .form-item {
          flex-wrap: wrap;
          .input-box {
            width: 100%;
          }
         }

         .amount {
          .amount-val {
            font-size: 16px;
            line-height: 18px;
          }
         }
         
        .basket-product {
          padding: 12px;
          flex-wrap: wrap;
          position: relative;
          min-height: 94px;
          .checkbox {
            margin-right: 4px;
          }
          .product-left {
            width: 100%;
          }
          .product-info {
            align-items: start !important;
          }
          .product-right {
            width: 100%;
            padding-left: 110px;
            flex-direction: row-reverse;
          }
          .remove-btn {
            position: absolute;
            top: 12px;
            right: 12px;
          }
          .product-info {
            img {
              margin-right: 12px;
              object-position: top;
            }
            p {
              font-size: 16px;
              line-height: 18px;
              padding-right: 25px;
            }
          }

          .price {
            width: auto;
            .price-text {
              font-size: 18px;
              line-height: 20px;
            }
          }
          .product-data {
            font-size: 14px;
            line-height: 15px;
          }
        }
      }
    }

    .basket .basket-box .gift-body {
      grid-template-columns: repeat(2, 1fr);
    }

    .basket .basket-box .subtitle {
      font-size: 18px;
      line-height: 20px;
    }
    .basket .basket-box .recipient-information .communication {
      margin-right: 0;
    }
    .basket .basket-box .recipient-information .fill-quickly__btn {
      width: 100%;
    }


}

    .footer {
        &-social {
          margin-top: 32px;
        }
        &-body {
          padding: 24px 0;
        }
        &-item {
            width: 50%;
            &:nth-child(3) {
                margin-top: 24px;
            }
          &__title {
            font-size: 14px;
            line-height: 16px;
          }
        }
        &-sub {
          margin-top: 24px;
          &__title {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }

  .popUp-share {
    align-items: end;
    .popUp-content {
      width: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  

  .loader {
    .loader-box {
      .loader-img {
        width: 36px;
      }
    }
    .loader-anim {
      width: 106px;
      height: 106px;
    }
  }
}

@media (max-width: 420px) {
    
}